<div class="main-flow-control">
  <mat-tab-group class="main-tab" mat-align-tabs="center" dynamicHeight>
    <mat-tab class="summary" label="SUMMARY">

      <div *ngIf="loading" id="spinner-container">

        <app-spinner></app-spinner>
      </div>

      <!-- error handler -->
      <mat-card *ngIf="errorState" class="error-card errorHandler">
        <mat-card-content>
          <div>
            <h1>😫</h1>
            <h3>Uh Oh</h3>
            <h5>Sorry, something went wrong.</h5>
            <button mat-raised-button color="accent" (click)="getmoviedetails()">RETRY</button>
          </div>
        </mat-card-content>
      </mat-card>


      <div *ngIf="movieDetails" class="container details">
        <!-- movie image -->
        <div class="image ">
          <img class="card-img-top" onerror="this.src='./assets/placeholder.movie.png'"
            src="{{movieDetails.large_cover_image}}" alt="image not found">
        </div>

        <!-- movie content -->
        <div class="content ">

          <h1>{{movieDetails.title_english|scan:'&'}} <span class="year small">({{movieDetails.year}})</span></h1>

          <p class="meta">
            <span>{{movieDetails.language}} | </span>
            <!-- <span>{{movieDetails.date_uploaded}} | </span> -->
            <span>{{movieDetails.runtime | duration }} | </span>
            <span>{{movieDetails.mpa_rating ? movieDetails.mpa_rating : ''}} | </span>
            <span>{{movieDetails.download_count}} downloads</span>
          </p>

          <div class="genre">
            <mat-chip-list>
              <mat-chip *ngFor="let item of movieDetails.genres">
                {{ item }}
              </mat-chip>
            </mat-chip-list>
          </div>

          <div class="rating">
            <ng-template #t let-fill="fill">
              <span class="star" [class.full]="fill === 100">
                <span class="half" [style.width.%]="fill"><i class="mat-icon star_rate"></i></span>&#9733;
              </span>
            </ng-template>
            <ngb-rating [rate]="movieDetails.rating*5/10" [starTemplate]="t" [readonly]="true" max="5">
            </ngb-rating>
            <div class="imdb">
              <span>imdb <span class="nb">{{movieDetails.rating}}</span></span>
            </div>

          </div>

          <div class="container">
            <p class="body">
              {{movieDetails.description_intro | shorten: 300: ' ...'}}
            </p>
          </div>

          <div class="buttons">
            <button matTooltip="Opens download dialog" (click)="openDialog()" mat-raised-button>
              Free Download <mat-icon>file_download</mat-icon>
            </button>

            <button matTooltip="Buy movie from Amazon" (click)="openLink()" mat-raised-button>
              Buy Online <mat-icon>shoping_cart</mat-icon>
            </button>
          </div>

        </div>
      </div>
    </mat-tab>

    <!-- trailler -->
    <mat-tab *ngIf="trailer" class="trailer" label="TRAILER">
      <div *ngIf="loading" id="spinner-container">

        <app-spinner></app-spinner>
      </div>
      <div class="trailer2">
        <iframe *ngIf="trailer" [src]="watchTrailer" frameborder="0"></iframe>
      </div>

    </mat-tab>

    <!-- simillar movies -->
    <mat-tab label="CASTS & SCREENSHOTS">
      <div *ngIf="loading" id="spinner-container">

        <app-spinner></app-spinner>
      </div>

      <div class="cast-tab">
        <div *ngIf="movieDetails" class="container cast">

          <div *ngIf="movieDetails.cast" class="row">
            <div class="col" *ngFor="let item of movieDetails.cast">
              <div class="placeholder"><img *ngIf="item.url_small_image" [src]="item.url_small_image" alt=""></div>
              <p>{{item.name}}</p>
              <p class="small">as</p>
              <P class="cast-sub-text">{{item.character_name}}</P>
            </div>
          </div>
        </div>


        <div *ngIf="movieDetails" class=" container ">

          <div *ngIf="movieDetails.medium_screenshot_image1" class="screenshots">
            <img src="{{movieDetails.medium_screenshot_image1}}" alt="">
            <img src="{{movieDetails.medium_screenshot_image2}}" alt="">
            <!-- <img src="{{movieDetails.medium_screenshot_image3}}" alt=""> -->
          </div>

        </div>

      </div>
    </mat-tab>

    <!-- simillar movies -->
    <mat-tab label="SIMILAR MOVIES">
      <div *ngIf="loading" id="spinner-container">

        <app-spinner></app-spinner>
      </div>
      <div class="main-tab-container" id="top">


        <div class="card-container" *ngFor="let item of randomMovies">
          <div *ngIf="randomMovies">
            <mat-card (click)="openDialog(item.id,item.imdb_code)" class=" animated bounceInUp">
              <div class="img-box">
                <img mat-card-image onerror="this.src='./assets/placeholder.movie.png'"
                  src="{{item.medium_cover_image}}" class="card-image" alt="">
              </div>
              <div class="icon">
                <a mat-mini-fab>{{item.rating}}</a>
              </div>
              <div class="content">
                <p class="title">{{item.title|scan:'&'}}</p>
                <p class="year">{{item.year}}</p>
              </div>
            </mat-card>
          </div>
        </div>

      </div>

    </mat-tab>
  </mat-tab-group>

  <div class="cover">
    <img class="bg-image" [src]="coverImg" alt="" />
    <!-- <img class="bg-image" [src]="setBackground(showDetails.images.fanart)" alt="" /> -->
  </div>

  <div id="btn-close">
    <button (click)="dialogRef.close()" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

</div>

<button matTooltip="Watch Trailer on Youtube" aria-label="Watch Trailer on Youtube" class='youtube animated bounceIn'
  *ngIf="movieDetails && movieDetails.yt_trailer_code" (click)='openYoutube(movieDetails.yt_trailer_code)' mat-fab>
  <mat-icon svgIcon="youtube"></mat-icon>
</button>