@import "~@angular/material/theming";
@import "../../scss/variables";
@import "../../scss/mixins";
@import "../../../custom-theme.scss";
@import "../../scss/details.scss";
@import '../../scss/spinner.scss';

h4 {
  text-align: center;
}

.trucn {
  width: 97%;
}

mat-list-item {
  padding-right: 0;
  padding-left: 0;

  span {
    width: 100px;
  }
}





a.series-link {
  border-radius: 50%;
  transition: all 0.4s ease-in-out;

  &:hover {
    background-color: transparentize(mat-color($accent), 0.8);

    mat-icon {
      color: mat-color($accent);
    }
  }

}