@import "~@angular/material/theming";
@import "../../scss/details.scss";
@import "../../scss/media-list";

.bg-image {
  width: 100%;
  height: 100%;
  filter: blur(4px);
  opacity: .7;
}

.main-tab-container .card-container {
  mat-card {
    width: 10rem !important;
    height: 14rem !important;
  }
}