<div class="main-flow-control">
  <mat-tab-group class="main-tab" mat-align-tabs="center" dynamicHeight>
    <mat-tab class="summary" label="SUMMARY">


      <app-spinner *ngIf="loading"></app-spinner>

      <!-- error handler -->
      <mat-card *ngIf="errorState" class="error-card errorHandler">
        <mat-card-content>
          <div>
            <h1>🤕</h1>
            <h3>Uh Oh</h3>
            <h5>Sorry, something went wrong.</h5>
            <button mat-raised-button color="accent" (click)="showDetails()">RETRY</button>
          </div>
        </mat-card-content>
      </mat-card>


      <div *ngIf="movieDetails" class="container details">
        <!-- movie image -->
        <div class="image ">
          <img class="card-img-top" onerror="this.src='./assets/placeholder.movie.png'"
            src="{{imageurl}}{{movieDetails.poster_path}}" alt="image not found">

        </div>

        <!-- movie content -->
        <div class="content ">

          <h1>{{movieDetails.title|scan:'&'}} <span
              class="year small">({{movieDetails.release_date | date:"yyyy"}})</span></h1>

          <p class="meta">
            <span>{{movieDetails.spoken_languages[0].name}} | </span>
            <!-- <span>{{movieDetails.date_uploaded}} | </span> -->
            <span>{{movieDetails.runtime |duration}} | </span>
            <!-- <span>{{movieDetails.mpa_rating ? movieDetails.mpa_rating : ''}} | </span> -->
            <span>{{movieDetails.vote_count}} votes</span>
          </p>

          <div class="genre">
            <mat-chip-list>
              <mat-chip *ngFor="let item of movieDetails.genres">
                {{item.name}}
              </mat-chip>
            </mat-chip-list>
          </div>

          <div class="rating">
            <ng-template #t let-fill="fill">
              <span class="star" [class.full]="fill === 100">
                <span class="half" [style.width.%]="fill"><i class="mat-icon star_rate"></i></span>&#9733;
              </span>
            </ng-template>
            <ngb-rating [rate]="movieDetails.vote_average/2" [starTemplate]="t" [readonly]="true" max="5">
            </ngb-rating>
            <div class="imdb">
              <span>imdb <span class="nb">{{movieDetails.vote_average}}</span></span>
            </div>

          </div>

          <div class="container">
            <p class="body">
              {{movieDetails.overview | shorten: 400: ' ...'}}
            </p>
          </div>

          <div class="buttons">
            <button (click)="openDialog(movieDetails.title,movieDetails.release_date )" mat-raised-button>DOWNLOAD
              <mat-icon>file_download</mat-icon> </button>


            <button (click)="openLink(movieDetails.homepage)" mat-raised-button>
              Buy Online <mat-icon>shoping_cart</mat-icon>
            </button>

          </div>

        </div>
      </div>
    </mat-tab>

    <mat-tab label="SIMILAR MOVIES">

      <div class="main-tab-container" id="top">


        <div class="card-container" *ngFor="let item of similarMovies">
          <div *ngIf="similarMovies">
            <mat-card (click)="openSimilarDialog(item.id)" class=" animated bounceInUp">
              <div class="img-box">
                <img mat-card-image onerror="this.src='./assets/placeholder.movie.png'"
                  src="https://image.tmdb.org/t/p/w342{{item.poster_path}}" class="card-image" alt="">
              </div>
              <div class="icon">
                <a mat-mini-fab>{{item.vote_average}}</a>
              </div>
              <div class="content">
                <p class="title">{{item.original_title|scan:'&'}}</p>
                <p class="year">{{item.release_date | date:'yyyy'}}</p>
              </div>
            </mat-card>
          </div>
        </div>

      </div>

    </mat-tab>
    <!-- simillar movies -->
    <!-- <mat-tab label="SIMILAR MOVIES">

    </mat-tab> -->
  </mat-tab-group>

  <div class="cover">
    <img class="bg-image" [src]="banner" alt="" />
    <!-- <img class="bg-image" [src]="setBackground(showDetails.images.fanart)" alt="" /> -->
  </div>

  <div id="btn-close">
    <button (click)="dialogRef.close()" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

</div>