@import "~@angular/material/theming";
@import "../../custom-theme";
@import "../../assets/animate";
@import "./variables.scss";



.main-tab-container {
  padding: 0;
  padding-top: 1rem;
  margin-right: 0; // flex setting and override
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;

  .card-container {
    //  margin: 0 15px 15px 0;

    mat-card {
      @include mat-elevation-transition;
      width: $card-width;
      height: $card-height;
      position: relative;
      cursor: pointer;
      overflow: hidden;
      margin: 10px 10px;

      &:hover {
        @include mat-elevation-transition;
        @include mat-elevation(8);
        transform: translateY(5px);
        transition: 0.3s ease;
        background: #000000;

        div.content {
          background-color: #00000088;
          transition: all 0.5s ease-in-out;
          bottom: 0px;
        }

        div.icon {
          transition: all 0.6s cubic-bezier(0.98, -0.12, 0.13, 1.22);
          top: 5px;
          right: 5px;
        }

        div.img-box {
          opacity: .7;
          transition: opacity .4s ease-in-out;

          img {
            transform: scale(1.3);
            transition: transform .5s ease;
          }

        }
      }

      div.img-box,
      .img-box img {
        width: inherit;
        height: inherit;
        border-radius: inherit;
      }
    }

    div.content {
      bottom: 0;
      width: 100%;
      position: absolute;
      box-sizing: border-box;
      text-align: center;
      color: white;
      margin-left: -16px;
      padding: 10px 8px 0 8px;
      bottom: -100%;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;

      .year {
        font-size: 0.85rem;
      }

    }


    div.icon {
      position: absolute;
      box-sizing: border-box;
      text-align: center;
      margin-left: -16px;
      top: -50%;
      right: 5px;
      padding: 5px;
      border-radius: 50%;


    }

  }
}

.btnScrollTop {
  position: fixed;
  right: 15px;
  bottom: 15px;
  -webkit-highlight: none;
  outline: none;
}