@import "~@angular/material/theming";
@import "../../../custom-theme.scss";
@import "./mixins.scss";



#btn-close {
  position: absolute;
  top: 33px;
  left: 8px;
}

#spinner-container {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-flow-control {
  width: 100%;
  height: 100%;

  .cover {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .bg-image {
      width: 100%;
      height: 100%;
      background-position: center;
    }
  }



  mat-tab-group {
    position: relative;
    height: 100%;
    top: 50px;

    .mat-tab-body-content {
      height: auto;
      overflow: hidden !important;
    }

  }

  .details {
    margin-top: 30px;
  }
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;

  .image {
    flex: 1;
    margin-right: 20px;
  }

  .content {
    flex: 2;

    .year.small {
      font-size: 1rem;
    }

    .container {
      padding-left: 0;
    }

    .rating {
      display: flex;
      flex-direction: row;
      align-items: center;

      .star {
        position: relative;
        display: inline-block;
        font-size: 2rem;
        color: #dbd7d775;
      }

      .full {
        color: mat-color($accent);
      }

      .half {
        position: absolute;
        display: inline-block;
        overflow: hidden;
        color: mat-color($accent);
      }

      .value {
        font-size: 1.3rem;
        margin-left: 4px;
      }

      span.small {
        text-align: left !important;
        width: auto;
        margin: unset;
      }


      .imdb {
        width: 77px;
        height: 30px;
        margin-right: 4px;
        margin-left: 5px;
        padding: 4px 6px;
        border-radius: 2px;
        background-color: #FFB10A;
        color: black;
        font-weight: 500;

        .nb {
          color: white;
        }
      }
    }

    .genre {
      mat-chip {
        text-transform: capitalize;
      }
    }

    .buttons {
      button {
        margin: 15px 20px 15px 0;
        overflow: hidden;
      }
    }

  }
}

// TRALLER TAB
//
//
.trailer2 {
  display: flex;
  padding-top: 10px;

  iframe {
    width: 70vw;
    height: 70vh;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.322);
  }

}

////sreenshots
.container.screenshots {
  flex-wrap: wrap;
  justify-content: center;

  img {
    margin: 5px;
    width: 45%
  }
}

///cast tab
.container.cast {
  padding: 30px 0;
}

.cast-tab {
  overflow-y: auto;
}

mat-tab-group.main-tab {

  margin: auto;

  .mat-tab-body-wrapper {
    height: 100%;
    width: 100%;
  }

  mat-tab {
    overflow-y: hidden;
  }
}


.youtube {
  position: fixed;
  right: 15px;
  bottom: 15px;
  -webkit-highlight: none;
  outline: none;
}