// @import "~@angular/material/theming";
// @import "../../assets/animate";
// @import "../../custom-theme";



mat-toolbar {
    // background: #00000091;
    /* margin-top: 12px; */
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    align-items: flex-end;

    mat-icon {
        margin-right: 5px;
    }

    input {
        margin-right: 5px;
    }

    mat-icon {
        &:hover {
            // color: mat-color($primary);
            cursor: pointer !important;
        }
    }

    mat-form-field {

        font-size: 1rem;
        height: 100%;
        // margin-top: 10px;


    }


    h4.lead {
        // margin-top: 15px;
        height: 100%;
        font-weight: 300;
        font-size: 1.8rem;
        padding-bottom: 10px;
        animation-duration: 0.3s;
        animation-fill-mode: both;
        animation-name: fadeInLeft;

    }
}