<mat-toolbar>
  <div class="nun">
    <h4 class="lead">
      MUSICS
    </h4>
  </div>
  <div class="spacer"></div>
  <mat-form-field>
    <input #input (keyup.enter)="showMusics(input.value)" matInput placeholder='Enter a Keyword' type='text'>
    <mat-icon class="animated infinite delay-4s" matSuffix (click)="showMusics(input.value)">search </mat-icon>
  </mat-form-field>

</mat-toolbar>
<cdk-virtual-scroll-viewport [itemSize]='90'>

  <mat-divider>
  </mat-divider>

  <div>

    <div class="dft-container">
      <!-- <mat-radio-group name="provider" (change)="onChange(provider)" [(ngModel)]="provider" class="radio-buttons">
          <mat-radio-button checked='true' value="1337x">1337x</mat-radio-button>
          <mat-radio-button value="pirateBay">The PirateBay</mat-radio-button>
      </mat-radio-group> -->
      <div *ngIf="errorState" class="errorHandler">
        <h1>😫</h1>
        <h3>Uh Oh</h3>
        <h5>Sorry, something went wrong.</h5>
        <button mat-raised-button color="accent" (click)="showMusics()">RETRY</button>
      </div>

      <app-spinner *ngIf="loading"></app-spinner>

      <div *ngIf="searched" class="btn-container">

        <button mat-raised-button class="btn-refresh" (click)="showMusics()">
          HOME
        </button>

      </div>

      <div class="wrapper">

        <div class="">
          <table *ngIf="Musics" class="table table-borderless table-hover mat-elevation-z2">

            <thead>
              <tr>
                <th scope="col">#</th>
                <th class="align" scope="col">Title</th>
                <th scope="col">Time</th>
                <th scope="col">size</th>
                <th scope="col">seeds</th>
                <th scope="col">Peers</th>
                <th scope="col">Download</th>
              </tr>
            </thead>

            <tbody *cdkVirtualFor='let item of Musics | async | truthify'>
              <tr class="animated bounceIn">
                <th scope="row">
                  <mat-icon>library_music</mat-icon>
                </th>
                <td matTooltip="{{item.provider}}" matTooltipPosition="below" class="align">
                  <p class="table-title">{{item.title}}</p>
                </td>
                <td>{{item.time}}</td>
                <td>{{item.size}}</td>
                <td>{{item.seeds}}</td>
                <td>{{item.peers}}</td>
                <td><button (click)="download(item)" color="primary" mat-icon-button>
                    <mat-icon>file_download</mat-icon>
                  </button></td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

  </div>
</cdk-virtual-scroll-viewport>