@import "../../scss/searchbar";
@import "~@angular/material/theming";
@import "../../scss/_media-list.scss";

.container-fluid {
  padding-right: 0;
  margin: 0;
}

.centered {
  width: 400px;
  text-align: center;
  margin: auto;
  margin-bottom: 100px;
}

.fab-scroll {
  position: fixed;
  bottom: 15px;
  right: 17px;
}