 <mat-toolbar>
   <div class="nun">
     <h4 class="lead ">
       TV SHOWS
     </h4>
   </div>


   <mat-form-field appearance='fill'>
     <input #input matInput placeholder='Enter a Keyword' type='text'>
     <mat-icon class="animated infinite delay-4s" matSuffix (click)="search(input.value)">search
     </mat-icon>
   </mat-form-field>
 </mat-toolbar>

 <cdk-virtual-scroll-viewport id="SCROLL" [itemSize]='50'>

   <mat-divider id="TOP"></mat-divider>

   <div id="top">

     <app-spinner *ngIf="showsLoading && Shows.length > 0"></app-spinner>

     <div class="main-tab-container">

       <div class="card-container  animated bounceIn" *ngFor="let show of Shows |truthify|unique ">
         <div *ngIf="Shows.length > 0">
           <mat-card (click)="openDialog(show.imdb_id)" class=" animated bounceIn">
             <div class="img-box">
               <img mat-card-image onerror="this.src='./assets/placeholder.shows.png'" class="card-image"
                 src="{{show.images.poster}}" alt="{{show.title}} ">
             </div>
             <div class="icon">
               <a mat-mini-fab>{{show.rating.percentage/10}}</a>
               <!-- <span>{{show.rating.percentage/10}}</span> -->
             </div>
             <div class="content">
               <p class="title">{{show.title|scan:'&'}}</p>
               <p class="year">{{show.year}}</p>
             </div>
           </mat-card>
         </div>
       </div>
     </div>

     <div *ngIf="errorState" class="errorHandler">
       <h1>😫</h1>
       <h3>Uh Oh</h3>
       <h5>Sorry, something went wrong.</h5>
     </div>

     <app-spinner *ngIf="showsLoading"></app-spinner>


     <div class="container">
       <div *ngIf="!showsLoading" id="pagination">
         <ng-container [ngSwitch]="errorState">
           <button *ngSwitchCase="true" color="accent" mat-button (click)="requestShowList(page)">RETRY</button>
           <button *ngSwitchCase="false" color="primary" mat-button (click)="requestShowList(page)">LOAD MORE</button>
         </ng-container>
       </div>
     </div>



   </div>

 </cdk-virtual-scroll-viewport>

 <button class='btnScrollTop' (click)="ScrollTop()" mat-fab>
   <mat-icon>keyboard_arrow_up</mat-icon>
 </button>