<cdk-virtual-scroll-viewport [itemSize]='90'>

  <div class='searchPage'>

    <div class='toolbar'>
      <mat-card class='flex-container animated bounceInDown'>

        <mat-form-field>
          <input #input (keyup.enter)="search(input.value)" matInput placeholder='Enter a Keyword' type='text'>
          <mat-icon class="animated infinite delay-4s" matSuffix (click)="search(input.value)">search
          </mat-icon>
          <mat-hint>Search All Categories</mat-hint>
        </mat-form-field>

        <mat-form-field class="select">
          <mat-select (selectionChange)="search(input.value)" [(value)]='limit' placeholder="Limit" name="item">
            <mat-option #option *ngFor="let item of category" [value]="item.value">
              {{item.name}}
            </mat-option>
          </mat-select>
          <mat-hint>Limit</mat-hint>
        </mat-form-field>


      </mat-card>
    </div>

    <div class="dft-container">
      <!-- <mat-radio-group name="provider" (change)="onChange(provider)" [(ngModel)]="provider" class="radio-buttons">
          <mat-radio-button checked='true' value="1337x">1337x</mat-radio-button>
          <mat-radio-button value="pirateBay">The PirateBay</mat-radio-button>
      </mat-radio-group> -->

      <app-spinner *ngIf='loading'></app-spinner>


      <div class="wrapper">
        <p class="lead" *ngIf="!loading">{{message}} </p>
        <div class="">

          <table *ngIf="!loading" class="table table-borderless table-hover mat-elevation-z2">

            <thead>
              <tr>
                <th scope="col">#</th>
                <th class="align" scope="col">Title</th>
                <th scope="col">Time</th>
                <th scope="col">size</th>
                <th scope="col">seeds</th>
                <th scope="col">Peers</th>
                <th scope="col">Download</th>
              </tr>
            </thead>

            <tbody *cdkVirtualFor='let item of Results | async | truthify'>
              <tr class="animated bounceInUp">
                <th scope="row">
                  <mat-icon>search</mat-icon>
                </th>
                <td matTooltip="{{item.provider}}" matTooltipPosition="below" class="align">
                  <p class="table-title">{{item.title}}</p>
                </td>
                <td>{{item.time}}</td>
                <td>{{item.size}}</td>
                <td>{{item.seeds}}</td>
                <td>{{item.peers}}</td>
                <td><button (click)="download(item)" color="primary" mat-icon-button>
                    <mat-icon>file_download</mat-icon>
                  </button></td>

              </tr>
            </tbody>

          </table>

        </div>
      </div>
    </div>


  </div>
  <div>

  </div>
</cdk-virtual-scroll-viewport>