<div class="main-flow-control">
  <mat-tab-group class="main-tab" mat-align-tabs="center" dynamicHeight>
    <mat-tab class="summary" label="SUMMARY">

      <div *ngIf="showDataloading" id="spinner-container">

        <app-spinner></app-spinner>

      </div>

      <mat-card *ngIf="errorState" class="errorHandler error-card">
        <mat-card-content>
          <div>
            <h1>😫</h1>
            <h3>Uh Oh</h3>
            <h5>Sorry, something went wrong.</h5>
            <button mat-raised-button color="accent" (click)="requestShowDetails()">
              RETRY
            </button>
          </div>
        </mat-card-content>
      </mat-card>


      <div *ngIf="showDetails" class="container details">
        <!-- movie image -->
        <div class="image ">
          <img class="card-img-top" onerror="this.src='./assets/placeholder.show.png'"
            src="{{showDetails.images.banner}}" alt="image not found" />
        </div>

        <!-- movie content -->
        <div class="content">
          <h1>{{ showDetails.title | scan: '&' }} <span class="year small">({{showDetails.year}})</span></h1>

          <p class="meta">
            <span>{{showDetails.network | scan: '&'}} | </span>
            <span> Season {{showDetails.num_seasons}} | </span>
            <span> on {{showDetails.air_day}} | </span>
            <!-- <span>{{showDetails.country}} | </span> -->
            <span>{{showDetails.last_updated | date:'short'}} </span>
          </p>

          <div class="genre">
            <mat-chip-list>
              <mat-chip *ngFor=" let item of showDetails.genres; ">
                {{ item }}
              </mat-chip>
            </mat-chip-list>
          </div>
          <div class="rating">
            <ng-template #t let-fill="fill">
              <span class="star" [class.full]="fill === 100">
                <span class="half" [style.width.%]="fill"><i class="mat-icon star_rate"></i></span>&#9733;
              </span>
            </ng-template>
            <ngb-rating [rate]="(showDetails.rating.percentage / 100) * 5" [starTemplate]="t" [readonly]="true" max="5">
            </ngb-rating>
            <div class="imdb">
              <span>imdb <span class="nb">{{showDetails.rating.percentage/10}}</span></span>
            </div>
            <span class="small">
              {{ showDetails.rating.votes }} VOTES</span>
          </div>
          <div class="container">
            <p class="body">
              {{ showDetails.synopsis | shorten: 300: ' ...'}}
            </p>
          </div>

          <div class="buttons">
            <button (click)="openShowsDialog(
                                    showDetails.episodes,
                                    showDetails.title,
                                    showDetails.num_seasons)" mat-raised-button>
              Free Download <mat-icon>file_download</mat-icon>
            </button>
            <button (click)="openLink()" mat-raised-button>
              Buy On {{showDetails.network | scan: '&'}} <mat-icon>shoping_cart</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-tab>

    <!-- trailler -->
    <!-- <mat-tab class="trailer" label="TRAILER">
      <div class="trailer2">
        <iframe src="" frameborder="0"></iframe>
      </div>
    </mat-tab> -->

    <!-- simillar movies -->
    <mat-tab label="SIMILAR MOVIES">
      <div *ngIf="showDataloading" id="spinner-container">

        <app-spinner></app-spinner>

      </div>


      <div *ngIf="randomMovie" class="main-tab-container">
        <div class="card-container">
          <mat-card (click)="openDialog(randomMovie.imdb_id)" class=" animated bounceInUp">
            <div class="img-box">
              <img mat-card-image onerror="this.src='./assets/placeholder.movie.png'" class="card-image"
                src="{{randomMovie.images.poster}}" alt="{{randomMovie.title}} ">
            </div>
            <div class="icon">
              <a mat-mini-fab>{{randomMovie.rating.percentage/10}}</a>
              <!-- <span>{{show.rating.percentage/10}}</span> -->
            </div>
            <div class="content">
              <p class="title">{{randomMovie.title|scan:'&'}}</p>
              <p class="year">{{randomMovie.year}}</p>
            </div>
          </mat-card>
        </div>
      </div>

    </mat-tab>
  </mat-tab-group>

  <div class="cover">
    <img *ngIf="showDetails" class="bg-image" [src]="setBackground(showDetails.images.fanart)" alt="" />
  </div>

  <div id="btn-close">
    <button (click)="dialogRef.close()" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>


</div>