<mat-toolbar>

  <div class="nun">
    <h4 class="lead ">
      Trending Movies
    </h4>
  </div>

  <div class="spacer"></div>

  <mat-form-field color='primary' class="primary" appearance='fill'>
    <mat-label>Search</mat-label>
    <input color='primary' class="primary" #input matInput placeholder='Enter a general word' type='text'>
    <mat-icon class="animated infinite delay-4s" matSuffix (click)="search(input.value)">search </mat-icon>
  </mat-form-field>

</mat-toolbar>



<div class="wrapper container-fluid">

  <div class="main-tab-container">



    <div class="cont">
      <div class="spinner" id="spinner" *ngIf="loading"></div>

      <div *ngIf="errorState" class="errorHandler">
        <h1>😫</h1>
        <h3>Uh Oh</h3>
        <h5>Sorry, something went wrong.</h5>
        <button mat-raised-button color="accent" (click)="home =false;showMoviesNowPlayingList(page)">RETRY</button>
      </div>

      <div class="card-container" *ngFor="let item of upcomingMovies">
        <mat-card *ngIf="!loading" (click)="openDialog(item.id)" class="animated bounceInRight">
          <img mat-card-image onerror="this.src='./assets/placeholder.movie.png'" src="{{imageurl}}{{item.poster_path}}"
            alt="{{ item.title }} ">
        </mat-card>
        <p *ngIf="!loading" (click)="openDialog(item.id)" class="animated fadeInDown ">
          {{item.title|scan:'&'}}</p>
      </div>
    </div>
  </div>

  <div *ngIf="!home" class="container">
    <div id="pagination">
      <mat-paginator [length]="lenght" showFirstLastButtons [pageSize]="pageSize" [pageIndex]="page-1"
        (page)="Page($event , 'New Movies')">
      </mat-paginator>
    </div>
  </div>

  <div *ngIf="home" class="home">
    <button mat-raised-button color="primary" (click)="upcomingMovies=[];home=false;showMoviesNowPlayingList(1)"
      class="home animated fadeInUp">HOME <mat-icon>home
      </mat-icon></button>
  </div>

  <div class="clearfix"></div>

</div>