@import "~@angular/material/theming";
@import "../../scss/searchbar";
@import "../../scss/_media-list.scss";


.centered {
  width: 400px;
  text-align: center;
  margin: auto;
  margin-bottom: 100px;
}