<mat-toolbar>

  <div class="nun">
    <h4 class="lead">
      HD Movies
    </h4>
  </div>
  <div class="spacer"></div>

  <mat-form-field appearance="fill">
    <mat-label>Search</mat-label>
    <input #input matInput placeholder='Enter a general word' type='text'>
    <mat-icon class="animated infinite delay-4s" matSuffix (click)="search(input)">search
    </mat-icon>

  </mat-form-field>
</mat-toolbar>

<cdk-virtual-scroll-viewport id='SCROLL' [itemSize]='50'>


  <mat-divider id="TOP"></mat-divider>

  <div class=" full-screen">

    <app-spinner *ngIf="moviesLoading && Movies.length > 0"></app-spinner>

    <div class="main-tab-container" id="top">

      <div class="card-container" *ngFor="let item of Movies|truthify|unique">
        <div *ngIf="Movies.length > 0">
          <mat-card (click)="openDialog(item.id,item.imdb_code)" class=" animated bounceIn">
            <div class="img-box">
              <img mat-card-image onerror="this.src='./assets/placeholder.movie.png'" src="{{item.medium_cover_image}}"
                class="card-image" alt="">
            </div>
            <div class="icon">
              <a mat-mini-fab>{{item.rating}}</a>
            </div>
            <div class="content">
              <p class="title">{{item.title|scan:'&'}}</p>
              <p class="year">{{item.year}}</p>
            </div>
          </mat-card>
        </div>
      </div>
    </div>

    <div *ngIf="errorState" [ngClass]="{'margin-100': Movies.length ==0 }" class="errorHandler">
      <h1>😫</h1>
      <h3>Uh Oh</h3>
      <h5>Sorry, something went wrong.</h5>
    </div>

    <app-spinner *ngIf="moviesLoading"></app-spinner>



    <div class="container">
      <div *ngIf="!moviesLoading" id="pagination">
        <ng-container [ngSwitch]="errorState">
          <button *ngSwitchCase="true" color="accent" mat-button (click)="requestMoviesList(page)">RETRY</button>
          <button *ngSwitchCase="false" color="primary" mat-button (click)="requestMoviesList(page)">LOAD
            MORE</button>
        </ng-container>
      </div>
    </div>

  </div>

</cdk-virtual-scroll-viewport>

<button matTooltip="Scroll top" class='btnScrollTop' (click)="ScrollTop()" mat-fab>
  <mat-icon>keyboard_arrow_up</mat-icon>
</button>