@import '~@angular/material/theming';
@include mat-core();

//light theme palette
$primary: mat-palette($mat-cyan, 700, 800);
$accent: mat-palette($mat-pink, A700);
$warn: mat-palette($mat-red);
$light-theme: mat-light-theme($primary, $accent, $warn);


//Dark theme palette
$primary: mat-palette($mat-yellow, A700);
$accent: mat-palette($mat-pink, A400);
$warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($primary, $accent, $warn);

//use the required theme
@include angular-material-theme($dark-theme);

$tab-color: #424242;
$border-color: #424242;
$bg-color: #1f1d1d;

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: #000000a1;
}



//use light theme
.lightTheme {

  $border-color: #e3e3e3;
  $tab-color: #dee2e6;
  $bg-color: #e4e4e4;

  @include angular-material-theme($light-theme);

  //Extra styling depending on the theme

  .mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(189, 189, 189, 0.6);
  }
}